@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--kumbh: 'Kumbh Sans';
/*#### Text*/

-- Very dark desaturated blue: hsl(238, 29%, 16%);
-- Soft red: hsl(14, 88%, 65%);



/*Background gradient:*/

- Soft violet: hsl(273, 75%, 66%);
- Soft blue: hsl(240, 73%, 65%);


/*#### Text*/

-- Very dark grayish blue: hsl(237, 12%, 33%);
-- Dark grayish blue: hsl(240, 6%, 50%);

/*#### Divider*/

-- Light grayish blue: hsl(240, 5%, 91%);
}
body {
	font-size: 12px;
}

main {
	max-width: 327px;
	margin: auto;
	font-family: var(--kumbh);
}
h1 {
	text-align: center;
}
summary {
	list-style: none; /*remove default pointer*/
}
summary::-webkit-details-marker {
	display: none;
}
details summary { 
    cursor: pointer;
  }
 details[open] summary {
 	font-weight: 700;
 }

  details summary > * { 
    display: inline;
  }
  summary {
  list-style-image: url(images/icon-arrow-down.svg);
    direction: rtl;
    unicode-bidi: plaintext; /*From chrome inspector to remove question marks*/
    text-align: left;
}

summary::-webkit-details-marker {
  background: url(images/icon-arrow-down.svg);
  color: transparent;
}

.attribution { 
	font-size: 11px; text-align: center; 
	grid-area: attribution;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
