@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	--kumbh: 'Kumbh Sans';
	/*#### Text*/
	--vdd-blue: hsl(238, 29%, 16%); /* Very dark desaturated */
	--soft-red: hsl(14, 88%, 65%);
	/*Background gradient:*/

	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);


	/*#### Text*/

	--vdg-blue: hsl(237, 12%, 33%);
	--dg-blue: hsl(240, 6%, 50%);

	/*#### Divider*/

	--lg-blue: hsl(240, 5%, 91%);
}

body {
	font-size: 12px;
	background-color: var(--soft-blue);
	background-image: linear-gradient(0deg, var(--soft-blue) , var(--soft-violet));
}

main {
	max-width: 327px;
	margin: auto;
	margin-top: 150px;
	font-family: var(--kumbh);
	background-color: white;
	border-radius: 20px;
}
h1 {
	text-align: center;
}
summary {
	list-style: none; /*remove default pointer*/
}
summary::-webkit-details-marker {
	display: none;
}
details summary { 
    cursor: pointer;
  }
details[open] summary {
 	font-weight: 700;
 }

  details summary > * { 
    display: inline;
  }
  summary {
  	list-style-image: url(images/icon-arrow-down.svg);
    direction: rtl;
    unicode-bidi: plaintext; /*From chrome inspector to remove question marks*/
    text-align: left;
    padding: 20px 0px;
}

summary::-webkit-details-marker {
  background: url(images/icon-arrow-down.svg);
  color: transparent;
}
details div {

    border-bottom: 1px var(--lg-blue) solid;
    padding-bottom: 20px;
}
img {
	width: 240px;
}

.attribution { 
	font-size: 11px; text-align: center; 
	grid-area: attribution;
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
#image {
	background-image: url(images/bg-pattern-mobile.svg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}
#faq {
    padding: 0px 25px 40px 25px;
}
